<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA5E4F1125CCAC4100FB17BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA5E4F2725CCAC4500FB17BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA5E4F3225CCAC4500FB17BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA78024425CD4479006F4EF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
